@page "/kpi-pages/beranda/headers-slide"
@using Pertamina.Website_KPI.Application.Beranda;
@using Pertamina.Website_KPI.Bsui.Layouts;
@using Pertamina.Website_KPI.Domain.Entities;
@layout AdminLayout

@inject HeaderUpServices _headerServices;


<div class="content-body">
    <!-- row -->
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Header Slide List</h5></li>
            <li class="breadcrumb-item">
                <a href="index.html">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Header Slide</a></li>
        </ol>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects style-1">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">Header Slide List</h4>
                                <div>
                                    <a href="/kpi-pages/beranda/input-headers-slide" class="btn btn-primary btn-sm">+ Add Content</a>
                                </div>
                            </div>
                            <table id="empoloyees-tblwrapper" class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Subtitle</th>
                                        <th>Linked</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (itemsHeader is not null)
                                        {
                                            foreach (var item in itemsHeader.ToList())
                                            {
                                                <tr>
                                                    <td>
                                                        <span>@item.Id</span>
                                                    </td>
                                                    <td>
                                                        <span>@item.Title</span>
                                                    </td>
                                                    <td>
                                                        <span>@item.Subtitle</span>
                                                    </td>
                                                    <td>
                                                        <span>@item.LinkTo</span>
                                                    </td>
                                                    <td>
                                                        @if (@item.IsActive == true)
                                                        {
                                                            <span class="badge badge-success light border-0">Active</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger light border-0">Non Active</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="" title="Edit" class="btn btn-primary btn-sm"> <i class="fas fa-edit"></i> </a> &nbsp;
                                                        <a href="" title="Delete" class="btn btn-primary btn-sm"> <i class="fas fa-trash"></i> </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>Data not available</tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1">+ Add Content Header</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <label class="form-label">Title<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" @bind="@objItem.Title" placeholder="Input Title Content" required>

                            <label class="form-label mt-3">Subtitle Content<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" @bind="@objItem.Subtitle" placeholder="Input Title Content" required>

                            <label class="form-label mt-3">Reference Link<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" @bind="@objItem.LinkTo" placeholder="Input Reference Link" required>

                            <label class="form-label mt-3">Status<span class="text-danger">*</span></label>
                            <select class="form-control" required>
                                <option value="" selected>-- Pilih --</option>
                                <option value="1" selected>Aktif</option>
                                <option value="0" selected>Tidak Aktif</option>
                            </select>

                        </div>
                    </div>

                </div> 
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" @onclick="OnSave"><i class="fas fa-save"></i> Save Content</button>
                    @* <a class="btn btn-sm btn-danger" @onclick="(() => OnSave())"><i class="fas fa-save"></i> Save</a> *@
                    @* <a class="btn btn-sm btn-danger" @onclick="(() => OnSave())"><i class="fas fa-disk"> Save</i></a> *@
                    @* <input type="button" class="btn btn-primary light" value="Submit" @onclick="OnSave" /> *@
                    @* <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    *@                @* <button type="button" class="btn btn-primary" @onclick="OnSave">Save Content</button>    *@
                    @*              <input type="button" class="btn btn-primary" value="Submit" @onclick="OnSave" />
                    *@
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private List<TbltHeaderUp> itemsHeader = new();
    private TbltHeaderUp objItem = new();
    protected override async Task OnInitializedAsync()
    {
        itemsHeader = await _headerServices.GetData();

        _ = base.OnInitializedAsync();
    }

    protected async void OnSave()
    {
        _ = await _headerServices.Add(objItem);
    }
}
